body {
    background: #333;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}
/* 讓畫布有個邊框，看起來更像遊戲視窗 */
#gameCanvas {
    background: #000;
    border: 2px solid #fff;
}
#score {
    font-size: 24px;
    margin-bottom: 10px;
}
#gameControl button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
}


#gameControl button:hover {
    background-color: #666;
}


.hidden {
    display: none !important;
}